<html>
    
<head>
    <title>Početna strana</title>
    <link href="cssOsnove.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCBTXbj21-afltSBT5158Cs1ARNmesv7c&libraries=places"></script>
</head>

<body>
    <div style="margin-left: 15; margin: 15;" id="authorized"> 
        <button type="button" class="btn btn-primary" data-toggle="modal" v-if="!isAuthorizedPar" data-target="#modalLogIn"> Log In </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" v-if="!isAuthorizedPar" data-target="#registrationModal"> Registracija </button>
        <button type="button" class="btn btn-primary" v-if="isAuthorizedPar" v-on:click="logOut" >LogOut</button>
        <button type="button" class="btn btn-primary" v-if="isAuthorizedPar" onclick="location.href='#/us';" >Nalog</button>
        <button type="button" class="btn btn-primary" v-if="isAuthorizedPar">Pregled rezervacija</button>

        <!--Dugmici gosta-->
        <button type="button" class="btn btn-primary" onclick="location.href='#/';" v-if="isAuthorizedPar && user.role == 'Guest'"> Pretrazi apartmane</button>
        <!--Da li cemo koristiti iste dugmice za tipa admina i hosta za pretragu apartmana pa unutar njih resiti sta ko ima da vidi-->
        <!--JA sam stavio jedno, nekako mi to ima smisla-->
        <!--Dugmici za admina-->
        <button type="button" class="btn btn-primary" onclick="location.href='#/su';" v-if="isAuthorizedPar && user.role == 'Admin'" >Prikaz korisnika</button>
        <button type="button" class="btn btn-primary" v-if="isAuthorizedPar && user.role == 'Admin'" >Sadrzaji apartmana</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registrationModal" v-if="isAuthorizedPar && user.role == 'Admin'">Registracija domacina</button>

        <!--Dugmici za hosta-->
        <button type="button" class="btn btn-primary" v-if="isAuthorizedPar && user.role == 'Host'" >Pregled gostiju</button>
        
        <!--Dugmici za hosta i admina-->
        <button type="button" class="btn btn-primary"   v-if="isAuthorizedPar && user.role != 'Guest'">Pregled apartmana</button>


        <!--Modalni prozor za log in-->
        <div class="modal" id="modalLogIn">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>Log in</h1>
                    </div>
                    <div class="modal-body">
                        <form >
                            <input type="text" id="usernameLogIn" placeholder="Username" v-model="parameters.username">
                            <input type="password" id='passwordLogIn' placeholder="Password" v-model="parameters.password">
                            <label style="color:red" >{{message}}</label>
                            <input type="submit" value="Potvrdi" v-on:click="logIn($event)" >
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    
        <router-view></router-view>
    </div>
    
         <!--Modalni prozor za registraciju-->
         <div class="modal" id="registrationModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>{{header}}</h1>
                    </div>
                    <div class="modal-body">
                        <form >
                            <div class="container">
                                <p style="font-size: 100%;">Molim Vas popunite sva polja:</p>
                                <hr>
            
                                <label>Ime</label><br>
                                <input type="text" id="name" v-model="user.name" v-on:change="validation" placeholder="Enter name"><br><br>
                                <label>Prezime</label><br>
                                <input type="text" id="surname" v-model="user.surname" v-on:change="validation" placeholder="Enter surname"><br><br>
                                <label>Pol</label><br>
                                <select id="gender" v-model="user.gender">
                                    <option selected>Muski</option>
                                    <option>Zenski</option>
                                    <option>Drugo</option>
                                </select>
                                </br>
                                </br>
                                <label>Korisniško ime</label><br>
                                <input type="text" id="username" v-model="user.username" v-on:change="validation" placeholder="Enter username"><br><br>
                                <label>Šifra</label><br>
                                <input type="password" id="password" v-model="user.password" v-on:change="validation" placeholder="Enter password"><br><br>
                                <label>Potvrda šifre</label><br>
                                <input type="password" id="ConfirmPassword" ref="ConfirmPassword" v-on:change="validation" placeholder="Repeat password">
                                <br>
                                <label style="color:red" >{{message}}</label>
                                <input type="submit" id="Registration" v-bind:disabled="disabled=='yes'" value="Potvrda" v-on:click="register()" >
            
                            </div>
                        </form>
                     </div>
                </div>
            </div>
          
        </div>
   
    

    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.js"></script>
    <script src="app/registration.js"></script>
    <script src="app/userSettings.js"></script>
    <script src="app/search.js"></script> 
    <script src="app/showUsers.js"></script>
    <script src="app/app.js"></script>


    
</body>
</html>